.product-row
  display: flex
  width: 100%
  height: 100px
  max-width: 600px
  margin: 0 auto
  padding: 10px 0
  justify-content: space-between
  border: solid
  border-width: 1px 0 1px 0
  border-color: #5c6375

.cart-image-wrapper
  width: 90px
  height: 80px
  min-width: 90px
  padding-right: 5px
  text-align: center

.cart-image
  height: 80px
  width: auto

.product-title-wrapper
  width: 200px

.button-delete
  height: 40px
  margin-top: 20px

.product-cost__text_sm
  font-size: 12px

.cart-image-icon
  width: 30px
  padding-top: 25px

.image-icon
  width: 85%
  &:hover
   cursor: pointer


