.quantity-product
  display: flex
  padding: 0
  margin: 10px 0
  width: 60px
  border: 1.2px solid #dddddd
  border-radius: 3px

.product-counter
  width: 20px
  height: 20px
  text-align: center
  line-height: 20px

.button-increment
  position: relative
  height: 20px
  width: 20px
  border: none
  border-radius: 0
  &:after, &:before
    content: ""
    position: absolute
    background: #222222
    transition: transform 0.25s ease-out
  &:after
    margin-top: -1px
    width: 50%
    top: 50%
    left: 25%
    height: 1.5px
  &:before
    top: 24%
    left: 50%
    margin-left: -1.1px
    width: 1.5px
    height: 50%
  &:hover
    cursor: pointer
  &:disabled
    opacity: 0.5
    cursor: default

.button-decrement
  position: relative
  width: 20px
  height: 20px
  border: none
  border-radius: 0
  &:after
    content: ""
    position: absolute
    background: #222222
    transition: transform 0.25s ease-out
  &:after
    top: 50%
    left: 25%
    margin-top: -1px
    width: 50%
    height: 1.5px
  &:hover
    cursor: pointer
  &:disabled
    opacity: 0.5
    cursor: default
