.product
  width: 160px
  height: 300px
  margin: 10px
  padding: 10px
  border: 1px solid #dddddd
  border-radius: 5px

.image-wrapper
  width: auto
  margin: 0 auto

.image
  width: auto
  height: 140px
  max-width: 140px

.product-title
  height: 50px
  width: 100%
  max-width: 150px
  font-size: 12px

.product-cost
  width: 90px
  padding-top: 10px
  margin: 0 auto 10px

.button-add
  width: 100%
  color: #fcf6ff
  background: #33c760
  border: 1px solid #37c625

.button-link
  width: 100%
  color: #1d1d1d
  background: #c7c7c7
  border: 1px solid #9ca6bf
