.product-wrapper
  margin: 10px
  padding: 10px
  width: 160px
  height: 300px
  border: 1px solid #dddddd
  border-radius: 5px
  box-sizing: border-box

.image-wrapper
  width: auto
  margin: 0 auto

.image
  width: auto
  max-width: 140px
  height: 140px

.product-title
  font-size: 12px
  height: 50px
  max-width: 150px

.product-cost
  margin-bottom: 10px

.button-add
  width: 100%
  border: 1px solid #37c625
  color: #fcf6ff
  background: #33c760

.button-link
  width: 100%
  border: 1px solid #9ca6bf
  color: #1d1d1d
  background: #c7c7c7
